:root {
  --primary-color: #bc80cb; 
  --secondary-color: #b8c9d4; 
  --tertiary-color: #3ce7cb; 
  --dark-primary-color: #3f2c50;
  --dark-secondary-color: #34495e;
  --dark-surface-color: #202020;
}
body {
  margin: 0;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
.card {
  padding: 2em;
}

